body {
  margin: 0;
  background-color: #EDEDED;
  font-family: 'Nunito Sans', sem serifa;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.sec1 {
  background-color: #EDEDED;
  height: 280px;
  padding-left: 70px;
  color: rgb(31, 30, 30);
}

.sec2 {
  background-color: #dfdfdf;
  height: 370px;
  flex-direction: column;
  display: flex;
  padding-left: 70px;
  color: rgb(31, 30, 30);
}

.sec3 {
  background-color: #EDEDED;
  height: 250px;
  padding-left: 70px;
}

.subtitle {
  margin-top: 50px;
  color: rgb(31, 30, 30);
}

.conteudo {
  color: rgb(77, 77, 77);
  margin-top: -15px;
}

.color-composto{
  color:#1BC5EB;
  display: inline-block;
}

h4 {
  color: white;
}

h2 {
  margin-top: 45px;
}

@media only screen and (max-width:500px) {
  .sec1 {
    background-color: #EDEDED;
    height: 260px;
    padding-left: 10px;
    justify-content: start;
    margin-bottom: 70px;
  }

  .color-composto{
    color:#1BC5EB;
    display: inline-block;
    margin-left: 0px;
  }

  .sec2 {
    background-color: #dfdfdf;
    height: 370px;
    flex-direction: column;
    display: flex;
    padding-left: 10px;
    color: rgb(31, 30, 30);
  }

  .sec3 {
    background-color: #EDEDED;
    height: 250px;
    padding-left: 10px;
  }

}

.cent-tudo h2 {

  margin-top: 30px;
}