
a{
    color: black;
    text-decoration: none;
   
}

.cent-tudo-cont .conteudo {
    color: rgb(77, 77, 77);
    margin-top: 20px;
}

.title{
    text-align: center;
    color: #1BC5EB;
    margin-top: 20px;
}

.color-composto {
    color: #1BC5EB;
    display: inline-block;
}

.cent-tudo-cont{
    text-align: center;
}

@media only screen and (max-width:321px){
    .item-portfolio{

        display: inline-block;
        margin: 5px;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px #1BC5EB;
    }
 
}
    