header{
    background-color: #131522;
    text-align: center;
    padding: 30px;
  }

  .navbar{
    background-color: #212438;
    width: 100%;
  }

  header img {
    border-radius: 50%;
    width: 150px;
  }
  
  header h1{
    color: #1BC5EB;
  }
  
  header h3{
    color: white;
    margin-top: -25px;
  }