.item-contato{
    background-color:#131522 ;
    padding: 15px;
    margin: auto;
    width: 70%;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 2px 2px 2px 2px #1BC5EB;
}

.item-contato h2{
  color: white;
}

a{
    text-decoration: none;
    outline: none;
}